NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/sensor_registry
FRONTEND_URL=http://localhost:5173
# รองรับหลาย origin ได้ คั่นด้วย comma เช่น: http://localhost:5173,http://10.84.192.144:5173
ADMIN_KEY=dev-admin-key-change-me
LOG_LEVEL=debug
MQTT_URL=mqtt://localhost:1883
# MQTT_USERNAME=
# MQTT_PASSWORD=
ACK_TIMEOUT_MS=5000
HEARTBEAT_GRACE_MS=90000
